
// colors

// Harvard 

$background-color: #FFFFFF;
//$background-color: #3C4B37;
$table-color: #F8FBF1;

$primary-color: #73796E;
$card-color: #ECEFE5;
$button-color: #BBCBB2;
$button-hover-color: #3C4B37;

$header-container-color: #E1E4DA;

$success-container-color: #C0EFB0;
$success-text-color: #002200;

$error-container-color: #FFDAD6;
$error-text-color: #410002;


$primary-text-color: #191D17;
$secondary-text-color: #F2F5EB;

$card-radius: 35px;


// $background-color: #F9F1F2;
// $primary-color: #B7626C;
// $primary-color-light: #ECD5D8;
// $secondary-color: #D0B095;
// $secondary-color-light: #F5EAE8;
// $success-message-color: #bfddc2;
// $failure-message-color: #D0B095;
// $primary-text-color: #15090B;

$old-backgound-color: #AE8789;
$old-text-color: #FFDADB;
$old-notification-color: #f5f5f5;
$old-button-color: #610E20;  


html { 
    font-family: 'Roboto', sans-serif; 
}

body {
    margin: 0;
    max-height:90vh;
    background-color: $background-color;
}

.top-bar {
    background-color: $card-color;
    color: $primary-text-color;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-body {
    margin: 2.5vh 2.5vw;
    background-color:$background-color;
    color: $primary-text-color;
}

h1 {
    text-align: start; 
    margin: 0;
}

h2 {
    color: $button-hover-color;
}

p {
    text-align: start;
}


button {
    border-radius: 25px;
    border-style: none;
    color: $primary-text-color;
    background-color:$button-color;
    text-align: center; 
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: $button-hover-color;
    color: $secondary-text-color;
    //color: $primary-color;
    -webkit-transform: translateY(-1px);
	transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

button.edit-btn, button.delete-btn { 
    background-color: $card-color;
    color: $primary-text-color;
}

button.edit-btn:hover, button.delete-btn:hover {
    background-color: $button-hover-color;
    color: $secondary-text-color;
}

.active {
    display: block; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-bottom: 10px;
}

.header button {
    position: relative;
    top: -15px;
    right: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0px;
    font-size: 36px;
}

.header .close-button {
    position: relative;
    top: -15px;
    right: -15px;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 36px;
    color: $button-color;
    background-color:$card-color;
    cursor: pointer;
    

}

.header .close-button:hover {
    color: $primary-text-color;
    transition: none;
    -webkit-trans1: none;
    transform: none;
    box-shadow: none;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    align-items: stretch; 
    max-height: 90vh;
}

.grid-item {
    border-radius: $card-radius;
    background-color: $card-color;
    color: $primary-text-color;
    padding: 40px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.item-a {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.item-b {
    grid-column: 1 / span 1; 
    grid-row: 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.item-c {
    grid-column: 2 / span 1;
    grid-row: 1 / span 5;
}

.item-d {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.item-e {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
}

.item-f {
    grid-column: 3 / span 1;
    grid-row: 4 / span 2;
}

/* Styles for the overlay */
.overlay { 
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for darkness */
    z-index: 1; /* Place the overlay on top of other elements */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Styles for the centered modal */ 
.modal-content {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: $card-color; /* Set your desired background color */
    color: $primary-text-color;
    padding: 40px;
    border-radius: $card-radius;
    z-index: 2; /* Place the modal above the overlay */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a box shadow for depth */
}

/* Table styles */

.table-wrapper {
    height: auto;
    padding: 10px;
    overflow-y: auto; 
    //background-color: $table-color;
    border-radius: 10px;
}
table {
    overflow-y: hidden;
    border-collapse: collapse;
    width: 100%;
    //background-color: $table-color;
}

tr.entry {
    transition: background-color 0.2s, color 0.2s;
}

tr.entry:hover {
    background-color: $button-color;
    color: $secondary-text-color;
}

td.left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}

td.right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

td, th {
    border: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

.formgrid {
    display: grid;
    grid-template-columns: auto 1em auto;
    grid-gap: 0.3em 0.6em;
    align-items: center;
}

label {
    width: auto;
    padding: 0;
    margin: 0;
    text-align: right;
}

.description {
    overflow: hidden;
}

/* Input styles */
select, input, textarea {
    grid-column: 2 / span 2; /* Span two columns starting from the second column */
    border-radius: 15px;
    border: 0; /* Add a border for better visibility */
    padding: 10px;
    margin: 0;
    max-width: 100%;
}

textarea {
    min-width: 10em;
    min-height: 3em;
}

.submit-row {
    grid-column: 1 / span 3; /* Span three columns starting from the first column */
    text-align: right; /* Align the button to the right */
    margin-top: 1em; /* Add some space between the last input and the button */
}


.pomodoro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: stretch;
    align-items: stretch;
    margin: 0;
    width: 100%;
    height: 100%;
}

.pomodoro-item-a {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    text-align: center;
    font-size: 5em;
}

.pomodoro-item-b {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    font-weight: bold;
}

.pomodoro-item-c {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    font-weight: bold;
}

.pomodoro-item-1 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    font-weight: bold;
}

.pomodoro-item-2 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    font-weight: bold;
}

.pomodoro-item-3 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    font-weight: bold;
}

// h5 {
//     margin-block-end: 0;
//     margin-block-start: 0;
// }

.notification-bar {
    display:flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 3em;
    border-radius: 20px;
    background-color: $success-container-color;
    color: $success-text-color;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.notification-bar.sticky {
    top: 0;
    // left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-bar button {
    font-size: 0.83em;
    padding: 0px;
    color: $button-color;
    background-color: inherit;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}

.notification-bar button:hover {
    color: $primary-text-color;
    transition: none;
    -webkit-trans1: none;
    transform: none;
    box-shadow: none;
}